<%= render 'layouts/small_banner' %>
<div class="cart">
	 <div class="container">
		 <div class="cart-top">
			<%= link_to 'Home', root_path %>
		 </div>
			
		 <div class="col-md-9 cart-items">
			 <h2>My Shopping Bag</h2>

       <% @cart.items.all.distinct.each do |item| %>

        <div class="cart-header" id="cart-header<%= item.id %>">
          <!-- <div class="close-btn" id="close_<%= item.id %>"></div> -->
          <%= link_to "" , delete_item_path(id: item.id), method: 'put', class: "close-btn", id: "close_#{item.id }" %>
          <div class="cart-sec">
            <div class="cart-item cyc">
                <%= image_tag item.image_url %>
            </div>
              <div class="cart-item-info">
                <h3><%= item.title %><span>Model No: 3578</span></h3>
                <h4><span>Rs. $ </span><%= item.price %></h4>
                <p class="qty">Qty ::</p>
                <input min="1" type="number" id="quantity" name="quantity" value="<%= @cart.items.where(id: item.id).count %>" class="form-control input-small">
              </div>
              <div class="clearfix"></div>
            <div class="delivery">
              <p>Service Charges:: Rs.100.00</p>
              <span>Delivered in 2-3 bussiness days</span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      <% end %>
		 </div>
		 <div class="col-md-3 cart-total">
			 <%= link_to "Continue to basket", '#', class: "continue" %>
			 <div class="price-details">
				 <h3>Price Details</h3>
				 <span>Total</span>
				 <span class="total"><%= @cart.items.sum(:price) %></span>
				 <span>Discount</span>
				 <span class="total">---</span>
				 <span>Delivery Charges</span>
				 <span class="total">150.00</span>
				 <div class="clearfix"></div>
			 </div>
			 <h4 class="last-price">TOTAL</h4>
			 <span class="total final"><%= @cart.items.sum(:price) + 150 %></span>
			 <div class="clearfix"></div>
			 <%= link_to "Place Order", class: "order" %>
			 <div class="total-item">
				 <h3>OPTIONS</h3>
				 <h4>COUPONS</h4>
				 <%= link_to "Apply Coupons", '#', class: "cpns"%>
         <% unless user_signed_in? %>
				 <p><%= link_to "Log In", "#" %> to use accounts - linked coupons</p>
         <% end %>
			 </div>
			</div>
	 </div>
</div>
