<%= render 'layouts/small_banner' %>
<div class="jumbotron jumbotron-fluid bg-dark text-light">
  <div class="container bg-dark text-light">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="cart">
	 <div class="container">
		 <div class="cart-top">
			<%= link_to 'Home', root_path %>
		 </div>

    <div class='text-center'>
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="You have to pay"
                  data-amount="500"
                  data-locale="auto"></script>
        <% end %>

        <%= link_to "Confirm Order", new_charge_path, class: "order #{'modal-btn' unless user_signed_in?}" %>
    </div>
  </div>
</div>