<!DOCTYPE html>
<html>
  <head>
    <title>EShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Plugins CSS
        <link href="css/plugins/plugins.css" rel="stylesheet">
                <!-- REVOLUTION STYLE SHEETS
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
        <!-- REVOLUTION LAYERS STYLES
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
        <!-- REVOLUTION NAVIGATION STYLES
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
        <link href="css/shop-style.css" rel="stylesheet"> -->
  </head>

  <body>
    <%= yield %>
    
    
  </body>
</html>
